/*.dsk
/*.local
/Client/*.res
/Client/Win32/Debug
/Client/Win64/Debug
/Client/__history
/Client/*.local
/Client/*.identcache
/Server/__history
/Server/*.res
/Server/Win32/Debug/
/Server/Win64/Debug/
/Client/Utils/__history
/Server/*.local
/Server/*.identcache
/Server/*.ini
/*.~dsk
/Server/Utils/__history/*.~1~
/Server/Utils/__history/*.~2~
/Server/Utils/__history/*.~3~
/Server/Utils/__history/*.~4~
/Server/Utils/__history/*.~5~
/Server/Utils/__history/*.~6~
/Server/Utils/__history/*.~7~
/Server/Utils/__history/*.~8~
