/*.dsk
/*.local
/Client/*.res
/Client/*.exe
/Client/dcu
/Client/__history
/Client/*.local
/Client/*.identcache
/Server/__history
/Server/*.res
/Server/*.exe
/Server/dcu
/Client/Utils/__history
/Server/*.local
/Server/*.identcache
/Server/*.ini
/*.~dsk
/*.json
/Server/*.db
/Server/Utils/__history/*.~1~
/Server/Utils/__history/*.~2~
/Server/Utils/__history/*.~3~
/Server/Utils/__history/*.~4~
/Server/Utils/__history/*.~5~
/Server/Utils/__history/*.~6~
/Server/Utils/__history/*.~7~
/Server/Utils/__history/*.~8~
